{% extends 'base.html.twig' %}

{% block title %}Mentions légales
{% endblock %}

{% block body %}

    <main id="mentions" class="container">

        <h2 class="text-center mt-5 mb-4">Mentions légales</h2>

        <p>
            <div>Raison sociale: South-West Store</div>
            <div>Forme Juridique: SARL au capital de 15000€</div>
            <div>Adresse: 244 route de Seysses 31100 TOULOUSE</div>
            <div>Mail: southweststore@gmail.com</div>
            <div>APE: 524C (Commerce de détail d'habillement)</div>
        </p>

        <p>
            <div>Hébergement: OVH SAS</div>
            <div>ADRESSE: 2 rue Kellerman BP 80157 ROUBAIX CEDEX 1</div>
            <div>TEL: 1007</div>
            <div>MAIL: cil@ovh.net</div>
        </p>

        <p>
            <div>Enregistré auprès de la CNIL sous le numéro xxxxxxxx</div>
            <div>Conformément à la Loi Informatique et Libertés du 6 Janvier 1978 modifiée, vous possédez les droit d'accès, de rectification et de suppression des données vous concernant. Vous pouvez vous adresser votre demande à southweststore@gmail.com.</div>
        </p>
    </main>

{% endblock %}
