{% extends 'base.html.twig' %}

{% block title %}Redéfinir le mot de passe
{% endblock %}

{% block body %}

    <main id="reset_pwd" class="container">

        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('notice') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <form method="post">

            <h2>Redéfinir le mot de passe</h2>

            <div class="col-md-4 mx-auto">
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
            </div>

            <input type="hidden" name="token" value="{{ token }}">

            <button class="btn-lg btn-form" type="submit">
                Modifier
            </button>
        </form>

    </main>

{% endblock %}
